body {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 1em;
    /* overflow-y: scroll; */


    /* border: 2px solid red; */
}

.SearchBox {
    display: flex;
    justify-content: center;

    /* border: 2px solid rgb(76, 253, 91); */
}

.citySearchBox {
    display: flex;
    width: 20em;

    /* border: 2px solid rgb(252, 147, 199); */
}


.container {
    width: 20em;
    background-color: rgba(131, 130, 130, 0.09);
    border-radius: 0.5em;
    margin: 1em auto;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-bottom: 0.1em;

    /* border: 2px solid green; */
}


.min_max_temp {

    /* border: 2px solid rgb(8, 121, 155); */
}

.temp_min {
    margin-left: 1em;
    /* border: 2px solid rgb(8, 155, 82); */
}


.details {
    /* text-align: center; */
    padding-top: 0.1em;

    /* border: 2px solid rgb(128, 194, 6); */
}

.reading {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(214, 6, 93); */
}

.name_reading {

    /* border: 2px solid rgb(214, 148, 6); */
}

.results {
    padding-right: 2em;

    /* border: 2px solid rgb(32, 30, 26); */
}