body {
    background: linear-gradient(to right, #e0e3ec, #e2e2e2);
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
}

.weatherBox {
    max-width: 360px;
    margin: 0px auto;
}

.Header {
    display: flex;

    background-color: #3e98e8;
    border-radius: 0.5em;
    padding: 12px;
    box-shadow: 0px 1px 4px #a5a5a5;
}

.iconDayHeader {
    margin-left: 95px;
}

#cityName {
    color: white;
    font-size: 25px;
}

#temp {
    color: white;
    font-size: 40px;
    line-height: 20px;
}

.tempMaxAndMin {
    display: inline-flex;
    color: white;
    opacity: 0.8;
}

.fa-arrow-up {
    margin-right: 7px;
}

.fa-arrow-down {
    margin-right: 7px;
}

.tempMax {
    display: inline-flex;
    margin-right: 10px;
}

.tempMin {
    display: inline-flex;
}

.searchBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.8em auto;
}

.citySearchBox {
    display: flex;
    width: 100%;
}

.dataAll {
    display: flex;
    justify-content: center;
}

.dataHidden {
    background-color: white;
    width: 100%;
    line-height: 8px;
    padding: 20px 13px;
    border-radius: 0.5em;
    box-shadow: 0px 1px 4px #a5a5a5;
}

.dataTitle {
    font-size: 17px;
}

.data {
    opacity: 0.5;
    font-size: 15px;
}

.sun {
    display: inline-flex;
    margin-bottom: -15px;
}

.sunrise {
    margin-right: 25px;
}

.fiveDays {
    display: flex;
    justify-content: space-around;
}

.day {
    border: 2px solid rgb(45, 121, 26);
}

.weekDay {
    display: flex;
    justify-content: center;
}

.iconBox {
    width: 50px;
    height: 50px;
}

.temperatureDay {
    opacity: 0.5;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.searchErrorMessage {
    color: #bb0e0e;
}

.citySearchBox input[type=text] {
    padding: 10px;
    margin: auto;
    width: 100%;
    font-size: 16px;
    border: none;
    width: 85%;
    height: 2.5em;
    background: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0px 1px 4px #a5a5a5;
}

.citySearchBox button {
    width: 15%;
    background: #3e98e8;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0px 1px 4px #a5a5a5;
    margin-left: 10px;
}

.citySearchBox button:hover {
    background: #327ab9;
}

.citySearchBox::after {
    content: "";
    clear: both;
    display: table;
}