body {
    background: linear-gradient(to right, #e0e3ec, #e2e2e2);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 1em;
    /* overflow-y: scroll; */
    /* border: 2px solid red; */
}

.weatherBox {
    max-width: 360px;
    margin: 0px auto;

    /* border: 2px solid rgb(0, 2, 128); */
}

.Header {
    display: flex;
    
    background-color: #3e98e8;
    border-radius: 0.5em;
    padding: 12px;
    box-shadow: 0px 1px 4px #a5a5a5;

    /* border: 2px solid green; */
}

.temperatureDayHeader {


    /* border: 2px solid rgb(76, 253, 91); */
}

.iconDayHeader {
    margin-left: 95px;
    /* border: 2px solid rgb(252, 147, 199); */
}

#cityName {
    color: white;
    font-size: 25px;
}

#temp {
    color: white;
    font-size: 40px;
    line-height: 20px;
}

#temp_max {
    color: white;
    opacity: 0.8;
}

.searchBox {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    /* border: 2px solid rgb(76, 253, 91); */
}

.citySearchBox {
    display: flex;
    width: 100%;

    /* border: 2px solid rgb(252, 147, 199); */
}

.dataAll {
    display: flex;
    justify-content: center;
}

.dataHidden {
    background-color: white;
    width: 100%;
    line-height: 8px;
    padding: 13px;
    border-radius: 0.5em;
    box-shadow: 0px 1px 4px #a5a5a5;

    /* border: 2px solid rgb(241, 252, 147); */
}

.dataTitle {
    font-size: 17px;
    /* border: 2px solid rgb(241, 252, 147); */
}

.data {
    opacity: 0.5;
    font-size: 15px;
}

.sun {
    display: flex;
    justify-content: baseline;
    margin-bottom: 0px;
    padding-bottom: 0px;


    /* border: 2px solid rgb(241, 252, 147); */
}

.sunrise {
    margin-right: 25px;

    /* border: 2px solid rgb(26, 121, 116); */
}

.sunset {

    /* border: 2px solid rgb(26, 121, 116); */
}

.dataTitle {

    /* border: 2px solid rgb(121, 26, 82); */
}


.fiveDays {
    display: flex;
    justify-content: space-around;

    /* border: 2px solid rgb(207, 170, 68); */
}

.day {


    /* border: 2px solid rgb(45, 121, 26); */
}

.weekDay {
    display: flex;
    justify-content: center;

    /* border: 2px solid rgb(147, 240, 252); */
}

.iconBox {
    width: 50px;
    height: 50px;

    /* border: 2px solid rgb(87, 9, 122); */
}

.temperatureDay {
    opacity: 0.5;
    font-size: 15px;
    display: flex;
    justify-content: center;

    /* border: 2px solid rgb(252, 147, 199); */
}